*{
    box-sizing: border-box;
    margin: 0;
}
/*Розміри*/
.w_h_860{
    max-width: 860px;
    max-height: 860px;
}

.ww_h_860{
    width: 860px;
    height: 860px;
}

.w_h_200{
    width: 200px;
    height: 200px;
}

.w_h_100{
    width: 75px;
    height: 75px;
}

.w_h_600{
    width: 600px;
    height: 600px;
}

.max_width_100{
    max-width: 100%;
}

.width_100{
    width: 100%;
}

.width_100-10px{
    width: calc(100% - 10px);
}

.width_30{
    width: 33.3333%;
}

.width_70{
    width: 66.6666%;
}

.height_100px{
    height: 100px;
}

.height_100{
    height: 100%;
}

/*Відступи*/
.mar_0_a{
    margin: 0 auto;
}

.mar_bottom{
    margin-bottom: 10px;
}

.mar_top_50{
    margin-top: 50px;
}

.mar_top_10px{
    margin-top: 10px;
}

.pad_all_10{
    padding: 10px;
}

.pad_10_50{
    padding: 10px 50px;
}

/*flex*/
.d_flex{
    display: flex;
}

.just_cont_fl_end{
    justify-content: flex-end;
}

.just_cont_sp_btwn{
    justify-content: space-between;
}

.just_cont_sp_arnd{
    justify-content:space-around;
}

.al_it_fl_end{
    align-items: flex-end;
}

.fl_dir_col{
    flex-direction: column;
}


/*.just_cont_center{*/
/*    justify-content:center;*/
/*}*/

/*Заливка*/
.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.light_blue{
    background-color:lightskyblue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.braun{
    background-color: brown;
}

.white{
    background-color: white;
}

.purple{
    background-color: lightcoral;
}


.border{
    border: solid 1px;
}



/*Завдання 3*/

.ex_3_left_2{
    min-height: 80%;
}

.hgt_20per{
    height: 20%;
}

.hgt_60per{
    height: 60%;
}

.hgt_80per-10px{
    height: calc(80% - 10px);
}

.hgt_50px{
    height: 50px;
}

.width_40per{
    min-width: 40%;
}

.over_flow_auto{
    overflow: scroll;
    overflow-x: hidden;

}

.mar_rght_10px{
    margin-right: 10px;
}

.fl_dir_row{
    flex-direction: row;
}

.over_flow_auto_2{
    overflow: auto;
    overflow-y: hidden;

}


